@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../public/background.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
